infra/stepfunction.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "A description of my state machine",
  "StartAt": "ACL creator",
  "States": {
    "ACL creator": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "$states.result.Payload",
      "Arguments": {
        "FunctionName": "${s3processor}",
        "Payload": "$states.input"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Sync Amazon Q index"
    },
    "Sync Amazon Q index": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:qbusiness:startDataSourceSyncJob",
      "Arguments": {
        "ApplicationId": "d8e2017e-4955-4bec-8ad6-263ace996089",
        "DataSourceId": "4f876a94-712e-4ee2-b99e-4027d87e2500",
        "IndexId": "01a660c8-7306-4bd9-9108-ad16896b9102"
      },
      "Next": "ListDataSourceSyncJobs"
    },
    "ListDataSourceSyncJobs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:qbusiness:listDataSourceSyncJobs",
      "Arguments": {
        "ApplicationId": "d8e2017e-4955-4bec-8ad6-263ace996089",
        "DataSourceId": "4f876a94-712e-4ee2-b99e-4027d87e2500",
        "IndexId": "01a660c8-7306-4bd9-9108-ad16896b9102"
      },
      "Output": {
        "status": "$states.result.History[ExecutionId=$states.input.ExecutionId].Status",
        "ExecutionId": "$states.input.ExecutionId"
      },
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Failed",
          "Condition": "$status = 'FAILED'"
        },
        {
          "Next": "Wait",
          "Condition": "$status = 'SYNCING' or $status = 'SYNCING_INDEXING'"
        },
        {
          "Next": "Pass (1)",
          "Condition": "$status = 'SUCCEEDED'"
        }
      ],
      "Default": "Pass (2)"
    },
    "Pass (1)": {
      "Type": "Pass",
      "End": true
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "ListDataSourceSyncJobs"
    },
    "Failed": {
      "Type": "Pass",
      "End": true
    },
    "Pass (2)": {
      "Type": "Pass",
      "End": true
    }
  }
}